Repository anchildress1/underfoot-underground-travel-planner: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, frontend-format, frontend-lint

backend-format:
  stage_fixed: true
  run: cd backend && poetry run black chat underfoot manage.py tests && poetry run ruff check --fix chat underfoot manage.py tests

backend-lint:
  run: cd backend && poetry run ruff check chat underfoot manage.py tests && poetry run mypy chat underfoot manage.py

frontend-format:
  stage_fixed: true
  run: npm run format -- {staged_files}

frontend-lint:
  run: npm run lint

ci(workflows): finalize dependabot and codeql configuration
  .github/dependabot.yml
  .github/workflows/codeql.yml
Due: none

fix(security): replace python-jose with pyjwt to remove ecdsa vulnerability
  .github/dependabot.yml
  backend/pyproject.toml
Due: none

ci(workflows): standardize dependabot schedule and expand codeql coverage
  .github/dependabot.yml
  .github/workflows/codeql.yml
  backend/uv.lock
Due: none

ci(workflows): pin third-party GitHub Actions to commit SHAs
  .eslintignore
  .github/workflows/cloudflare-pages.yml
  .github/workflows/codeql.yml
  .github/workflows/python-backend-deploy.yml
  .github/workflows/python-backend.yml
  .github/workflows/supabase-deploy.yml
  commitlint.config.js
  eslint.config.js
  frontend/.eslintrc.json
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/GoogleMapView.tsx
  frontend/test/e2e/accessibility.spec.ts
  frontend/test/e2e/map-interaction.spec.ts
  frontend/test/e2e/search-flow.spec.ts
  frontend/test/performance/rendering.test.tsx
  frontend/test/unit/ChatInput.test.tsx
  frontend/test/unit/Header.test.tsx
  frontend/test/unit/MessageBubble.test.tsx
  frontend/test/unit/utils.test.ts
  package-lock.json
Due: frontend-format, frontend-lint

chore(tooling): add eslint-plugin-unicorn and actionlint to lefthook
  eslint.config.js
  lefthook.yml
  package-lock.json
  package.json
Due: none

chore(deps): bump eslint to v9.38.0 and fix config comment
  eslint.config.js
  package-lock.json
  package.json
Due: none

Fix security alerts (#20)
  .eslintignore
  .github/workflows/cloudflare-pages.yml
  .github/workflows/codeql.yml
  .github/workflows/python-backend-deploy.yml
  .github/workflows/python-backend.yml
  .github/workflows/supabase-deploy.yml
  commitlint.config.js
  eslint.config.js
  frontend/.eslintrc.json
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/GoogleMapView.tsx
  frontend/test/e2e/accessibility.spec.ts
  frontend/test/e2e/map-interaction.spec.ts
  frontend/test/e2e/search-flow.spec.ts
  frontend/test/performance/rendering.test.tsx
  frontend/test/unit/ChatInput.test.tsx
  frontend/test/unit/Header.test.tsx
  frontend/test/unit/MessageBubble.test.tsx
  frontend/test/unit/utils.test.ts
  lefthook.yml
  package-lock.json
  package.json
Due: frontend-format, frontend-lint

ci(dependabot): fix group configuration and add best practices
  .github/dependabot.yml
Due: none

ci(dependabot): fix group configuration and add best practices (#21)
  .github/dependabot.yml
Due: none

chore(ci): move all uv commands to pinned SHAs
  .github/workflows/python-backend.yml
Due: none

chore(ci): simplify dependabot labels by removing redundant tags
  .github/dependabot.yml
Due: none

fix(tests): resolve TypeScript type errors in test files
  frontend/test/setup.ts
  frontend/test/unit/useKeyboardNavigation.test.ts
  package-lock.json
  package.json
Due: frontend-format, frontend-lint

fix(tests): resolve TypeScript type errors and improve coverage
  Makefile
  frontend/src/App.tsx
  frontend/test/e2e/accessibility.spec.ts
  frontend/test/unit/ChatInput.test.tsx
  frontend/test/unit/MessageBubble.test.tsx
  frontend/test/unit/utils.test.ts
  frontend/vite.config.ts
Due: frontend-format, frontend-lint

fix(build): migrate to Tailwind CSS v4 and fix type errors
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/index.css
  frontend/tailwind.config.js
  package-lock.json
  scripts/cleanup-old-backend.sh
Due: none

fix(commitlint): update signed-off-by rule to check body and footer
  commitlint.config.js
Due: none

fix(mobile): add CORS fix, debug logging, and Android testing guide
  backend/underfoot/settings.py
  mobile/README.md
  mobile/TESTING.md
  mobile/setup-android-test.sh
  mobile/test/widget/debug_panel_test.dart
Due: backend-format, backend-lint

fix(mobile): add Google Maps API key configuration for Android
  .gitignore
  mobile/.gitignore
  mobile/GOOGLE_MAPS_SETUP.md
  mobile/TESTING.md
  mobile/android/app/build.gradle.kts
  mobile/android/app/src/main/AndroidManifest.xml
Due: none

docs(mobile): add quick setup guide for Google Maps
  mobile/SETUP_NOW.md
Due: none

fix(mobile): add missing imports in build.gradle.kts
  mobile/android/app/build.gradle.kts
Due: none

fix(backend): remove hardcoded insecure Django SECRET_KEY fallback
  backend/.env.example
  backend/underfoot/settings.py
Due: backend-format, backend-lint

chore(deps): update npm workspace deps to close all open Dependabot alerts
  package-lock.json
  package.json
Due: none

chore(deps): bump backend pip deps to close open Dependabot alerts
  backend/uv.lock
Due: none

fix(mobile): remove fake API key example matching secret-scanner regex
  mobile/GOOGLE_MAPS_SETUP.md
  mobile/SETUP_NOW.md
Due: none

fix(backend): scope CORS pages.dev regex and require ALLOWED_HOSTS outside DEBUG
  backend/.env.example
  backend/tests/unit/test_config/test_django_settings.py
  backend/underfoot/settings.py
Due: backend-format, backend-lint

fix(build): stop Makefile from silently dropping the React frontend
  Makefile
Due: none

fix(mobile): portable sed + allow cleartext HTTP in debug builds only
  mobile/android/app/src/debug/AndroidManifest.xml
  mobile/android/app/src/debug/res/xml/network_security_config.xml
  mobile/setup-android-test.sh
Due: none

docs(mobile): fix broken links, iOS version mismatch, key-handling contradiction
  mobile/GOOGLE_MAPS_SETUP.md
  mobile/README.md
  mobile/SETUP_NOW.md
Due: none

test(mobile): wire the shared Google Fonts test helper into debug_panel_test
  mobile/test/widget/debug_panel_test.dart
Due: none

fix(mobile): fix API contract mismatches that crashed cache-hit responses
  mobile/lib/data/models/debug_info.dart
  mobile/lib/data/models/debug_info.g.dart
  mobile/lib/data/models/search_response.dart
  mobile/lib/data/models/search_response.g.dart
  mobile/lib/presentation/widgets/debug_panel.dart
  mobile/test/unit/models_test.dart
  mobile/test/widget/debug_panel_test.dart
Due: none

fix(mobile): stop faking user location, surface errors, auto-scroll
  mobile/lib/presentation/widgets/chat_panel.dart
Due: none

fix(mobile): fix concurrent message race, guard cubit, stop logging in release
  mobile/lib/data/services/api_service.dart
  mobile/lib/presentation/blocs/chat/chat_bloc.dart
  mobile/lib/presentation/blocs/theme/theme_cubit.dart
Due: none

fix(mobile): align chat input length limits with the backend contract
  mobile/lib/presentation/widgets/chat_input.dart
Due: none

fix(backend): make /health endpoint actually async
  backend/chat/api.py
Due: backend-format, backend-lint

fix(backend): scope checkmarkdevtools.dev CORS regex; fail closed by default
  backend/.env.example
  backend/chat/config/settings.py
  backend/underfoot/settings.py
Due: backend-format, backend-lint

fix(ci): set DEBUG=True in backend test job
  .github/workflows/python-backend.yml
Due: none

fix(security): resolve CodeQL findings for unused imports and vendored deps
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  eslint.config.js
Due: none

chore(ci): disable dependabot version updates
  .github/dependabot.yml
Due: none

Path conditions:
  backend-format: any of: backend/**/*.py
  backend-lint: any of: backend/**/*.py
  frontend-format: any of: {frontend,docs}/**/*.{ts,tsx,js,jsx,json,md}
  frontend-lint: any of: frontend/**/*.{ts,tsx,js,jsx}
