Repository anchildress1/underfoot-underground-travel-planner: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, frontend-format, frontend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    backend-format:
      glob: "backend/**/*.py"
      stage_fixed: true
      run: cd backend && poetry run black chat underfoot manage.py tests && poetry run ruff check --fix chat underfoot manage.py tests
    backend-lint:
      glob: "backend/**/*.py"
      run: cd backend && poetry run ruff check chat underfoot manage.py tests && poetry run mypy chat underfoot manage.py
    frontend-format:
      glob: "{frontend,docs}/**/*.{ts,tsx,js,jsx,json,md}"
      stage_fixed: true
      run: npm run format -- {staged_files}
    frontend-lint:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: npm run lint

pre-push:
  parallel: true
  commands:
    backend-test:
      glob: "backend/**/*.py"
      run: make test-backend
    frontend-test:
      glob: "frontend/**/*.{ts,tsx,js,jsx}"
      run: make test-frontend

commit-msg:
  commands:
    commitlint:
      run: npm run commitlint -- {1}

fix(ci): update workflow paths and config for django structure
  .github/workflows/python-backend.yml
  Makefile
Due: none

fix(deps): sync package-lock.json with package.json
  package-lock.json
Due: none

fix(backend): remove unused imports in chat/apps.py
  backend/chat/apps.py
Due: backend-format, backend-lint

chore(ci): add npm audit fix to pre-commit hook
  lefthook.yml
Due: none

Revert "fix(ci): migrate backend to uv and fix frontend e2e tests"
  frontend/src/components/ChatInput.tsx
  frontend/test/e2e/accessibility.spec.ts
  frontend/test/e2e/search-flow.spec.ts
  frontend/test/e2e/ui-features.spec.ts
Due: frontend-format, frontend-lint

refactor(backend): remove unused variables and fix env var naming
  backend/chat/services/embedding_service.py
  backend/chat/services/supabase_service.py
  backend/underfoot/settings.py
Due: backend-format, backend-lint

chore(ci): migrate lefthook from poetry to uv
  lefthook.yml
Due: none

docs: migrate all documentation from poetry to uv
  AGENTS.md
  README.md
  backend/AGENTS.md
  backend/QUICKSTART.md
  backend/README.md
  backend/tests/unit/test_services/test_embedding_service.py
  docs/backend/QUICKSTART.md
  docs/planning/PYTHON_BACKEND_MIGRATION_PLAN.md
  docs/tech_guides/LOCAL_LOGGING.md
  underfoot.md
Due: backend-format, backend-lint, frontend-format

fix(ci): add django-stubs and type ignore comments for mypy
  backend/chat/apps.py
  backend/chat/middleware.py
  backend/chat/services/cache_service.py
  backend/chat/services/embedding_service.py
  backend/chat/services/supabase_service.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-format, backend-lint

fix(ci): make security job non-blocking for safety check failures
  .github/workflows/python-backend.yml
Due: none

fix(tests): add default values for api keys to allow ci tests to run
  backend/chat/config/settings.py
Due: backend-format, backend-lint

fix(ci): make codecov upload optional when token not configured
  .github/workflows/python-backend.yml
Due: none

fix(ci): add required actions: write permissions to workflows
  .github/workflows/python-backend.yml
Due: none

fix(backend): add cors support and consolidate env config
  backend/pyproject.toml
  backend/underfoot/settings.py
  backend/uv.lock
  frontend/vite.config.ts
  package-lock.json
Due: backend-format, backend-lint

fix(ci): resolve workflow failures and implement security best practices
  .github/workflows/build-and-test.yml
  .github/workflows/codeql.yml
  .github/workflows/python-backend.yml
  backend/chat/services/cache_service.py
  backend/chat/services/embedding_service.py
  backend/chat/services/search_service.py
  backend/chat/services/supabase_service.py
  backend/wrangler.toml
  supabase/config.toml
  supabase/migrations/001_extensions_and_schemas.sql
  supabase/migrations/002_roles_and_privileges.sql
  supabase/migrations/008_move_vector_extension.sql
  supabase/migrations/008_move_vector_extension_safe.sql
  supabase/migrations/VECTOR_MIGRATION.md
Due: backend-format, backend-lint

fix(backend): use schema-prefixed database calls in embedding service
  backend/chat/services/embedding_service.py
Due: backend-format, backend-lint

test(backend): fix failing tests and achieve 30% coverage
  backend/pyproject.toml
  backend/tests/unit/test_config/__init__.py
  backend/tests/unit/test_config/test_settings.py
  backend/tests/unit/test_services/test_supabase_service.py
  backend/tests/unit/test_utils/test_errors.py
  backend/uv.lock
Due: backend-format, backend-lint

ci(workflows): finalize dependabot and codeql configuration
  .github/dependabot.yml
Due: none

fix(ci): clean up workflows and tooling
  .github/workflows/build-and-test.yml
  .github/workflows/cloudflare-pages.yml
  .github/workflows/codeql.yml
  .github/workflows/python-backend-deploy.yml
  .github/workflows/python-backend.yml
  lefthook.yml
  mypy.ini
  package.json
Due: none

test(backend): add comprehensive cache service tests
  backend/tests/unit/test_services/test_cache_service.py
Due: backend-format, backend-lint

fix(security): resolve security issues and migrate from poetry to uv
  .github/workflows/cloudflare-pages.yml
  .github/workflows/python-backend-deploy.yml
  .github/workflows/supabase-deploy.yml
  .vscode/settings.json
  backend/README.md
  backend/scripts/deploy.sh
  backend/scripts/setup.sh
Due: none

fix(build): update ai-checks to install dependencies before testing
  Makefile
Due: none

fix(ci): correct playwright cache key to use root package-lock.json
  .github/workflows/build-and-test.yml
Due: none

fix(deps): clean up workspace dependencies and file structure
  frontend/AlbedoBase_XL_fantasy_digital_illustration_of_the_Stonewalker_3.jpg
  frontend/public/underfoot-logo.png
Due: none

chore(deps): update eslint-plugin-react-hooks to 6.1.0
  package-lock.json
  package.json
Due: none

fix(deps): regenerate lockfile for lightningcss 1.31.1 platform binaries
  package-lock.json
Due: none

fix(config): consolidate env loading and add cors origin
  backend/chat/config/settings.py
  backend/underfoot/settings.py
  frontend/vite.config.ts
Due: backend-format, backend-lint

fix(backend): add cors support and consolidate env config (#18)
  .github/workflows/build-and-test.yml
  .github/workflows/cloudflare-pages.yml
  .github/workflows/codeql.yml
  .github/workflows/python-backend-deploy.yml
  .github/workflows/python-backend.yml
  .github/workflows/supabase-deploy.yml
  .vscode/settings.json
  Makefile
  backend/README.md
  backend/chat/config/settings.py
  backend/chat/services/cache_service.py
  backend/chat/services/embedding_service.py
  backend/chat/services/search_service.py
  backend/chat/services/supabase_service.py
  backend/pyproject.toml
  backend/scripts/deploy.sh
  backend/scripts/setup.sh
  backend/tests/unit/test_config/__init__.py
  backend/tests/unit/test_config/test_settings.py
  backend/tests/unit/test_services/test_cache_service.py
  backend/tests/unit/test_services/test_supabase_service.py
  backend/tests/unit/test_utils/test_errors.py
  backend/underfoot/settings.py
  backend/uv.lock
  backend/wrangler.toml
  frontend/AlbedoBase_XL_fantasy_digital_illustration_of_the_Stonewalker_3.jpg
  frontend/public/underfoot-logo.png
  frontend/vite.config.ts
  lefthook.yml
  mypy.ini
  package-lock.json
  package.json
  supabase/config.toml
  supabase/migrations/001_extensions_and_schemas.sql
  supabase/migrations/002_roles_and_privileges.sql
  supabase/migrations/008_move_vector_extension.sql
  supabase/migrations/008_move_vector_extension_safe.sql
  supabase/migrations/VECTOR_MIGRATION.md
Due: backend-format, backend-lint

chore(ci): configure dependabot with grouped updates and gha support
  .github/dependabot.yml
Due: none

fix(ci): correct yaml indentation in codeql workflow
  .github/workflows/codeql.yml
Due: none

fix(ci): resolve dependabot config for valid conventional commits
  .github/dependabot.yml
Due: none

fix(config): remove conflicting commitlint rules
  commitlint.config.js
Due: none

fix(config): restore commitlint rules and fix syntax
  commitlint.config.js
Due: none

fix(config): restore signed-off-by rule
  commitlint.config.js
Due: none

fix(config): implement custom signed-off-by validation rule
  commitlint.config.js
  package-lock.json
Due: none

ci(workflow): update install step to use workspace syntax
  .github/workflows/build-and-test.yml
Due: none

ci(codeql): update to codeql-action v4 and add security queries
  .github/workflows/codeql.yml
Due: none

chore(ci): configure dependabot with grouped updates and gha support (#19)
  .github/dependabot.yml
  .github/workflows/build-and-test.yml
  .github/workflows/codeql.yml
  commitlint.config.js
  package-lock.json
Due: none
